TRART/0002_Whatsapp_Chatbot_for_Business_Setup_Company/CORRECTED_WEBHOOK_NODES.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-production",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-production-node",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        608,
        2352
      ],
      "webhookId": "whatsapp-production-webhook",
      "notes": "Production webhook endpoint - receives all messages from Meta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "verification-mode",
              "leftValue": "={{ $json.query?.['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "verification-token",
              "leftValue": "={{ $json.query?.['hub.verify_token'] }}",
              "rightValue": "BSETUP_PROD_2024_SecureToken",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "verification-check-node",
      "name": "Is Verification Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        2352
      ],
      "notes": "Checks if Meta is verifying the webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query?.['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-verification-node",
      "name": "Return Verification Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1008,
        2240
      ],
      "notes": "Returns challenge to Meta for verification"
    },
    {
      "parameters": {
        "jsCode": "// Normalize webhook data from Meta to match your existing workflow format\n// This makes it compatible with Message Router2 and all downstream nodes\n\ntry {\n  console.log('Raw webhook data:', JSON.stringify($json, null, 2));\n  \n  // Check if this is a message (not verification)\n  const body = $json.body || $json;\n  const entry = body.entry?.[0];\n  \n  if (!entry) {\n    console.log('No entry found - might be status update');\n    return { json: { skip: true, reason: 'No entry' } };\n  }\n  \n  const changes = entry.changes?.[0];\n  if (!changes) {\n    console.log('No changes found');\n    return { json: { skip: true, reason: 'No changes' } };\n  }\n  \n  const value = changes.value;\n  if (!value) {\n    console.log('No value found');\n    return { json: { skip: true, reason: 'No value' } };\n  }\n  \n  // Check if there are messages (not just status updates)\n  if (!value.messages || value.messages.length === 0) {\n    console.log('No messages - might be status update');\n    return { json: { skip: true, reason: 'No messages - status update' } };\n  }\n  \n  // Return in the EXACT format your Message Router2 expects\n  const normalized = {\n    messages: value.messages || [],\n    contacts: value.contacts || [],\n    metadata: value.metadata || {}\n  };\n  \n  console.log('Normalized data:', JSON.stringify(normalized, null, 2));\n  console.log('Message type:', normalized.messages[0]?.type);\n  console.log('Has text:', !!normalized.messages[0]?.text?.body);\n  console.log('Has audio:', !!normalized.messages[0]?.audio?.id);\n  \n  return { json: normalized };\n  \n} catch (error) {\n  console.error('Error normalizing webhook data:', error.message);\n  return { \n    json: { \n      skip: true,\n      error: 'Normalization failed', \n      message: error.message,\n      rawData: $json \n    } \n  };\n}"
      },
      "id": "normalize-webhook-data-node",
      "name": "Normalize Webhook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        2448
      ],
      "notes": "Converts Meta webhook format to match your Message Router2 expectations"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-skip-node",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        2448
      ],
      "notes": "Filters out status updates and non-message webhooks"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-skip-node",
      "name": "Respond - Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1408,
        2352
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Is Verification Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Verification Request?": {
      "main": [
        [
          {
            "node": "Return Verification Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook Data": {
      "main": [
        [
          {
            "node": "Should Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Skip?": {
      "main": [
        [
          {
            "node": "Respond - Skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Router2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}


